.background {
  width: 100%;
  position: relative;
  background-size: cover;
  position: absolute;
  height: 100vh;
}

.background-picture {
  width: 100%;
  background: url("Assets/back") no-repeat center center;
  background-size: cover;
  position: absolute;
  height: 100vh;
}
.header-wraper {
  position: sticky;
}

.navigation-bar {
  padding-top: 3.89%;
  padding-left: 6.1%;
  padding-right: 7.64%;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 914px;
  width: 914px;
  max-height: 55px;
  gap: 24px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: 10.39%;
  max-width: 65px;
  width: 100%;
  max-height: 23px;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  text-align: center;
  background-color: blueviolet;
}
.menu-items:hover {
  color: rgb(252, 177, 31);
  font-size: 21px;
  transition: 0.3s ease-in-out;
}
.additional-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-user {
  text-align: center;
  color: white;
  font-size: 24px;
}
.fa-cart-shopping {
  color: white;
  font-size: 24px;
  padding-right: 15px;
}
.fa-user:hover,
.fa-cart-shopping:hover {
  color: rgb(252, 177, 31);
  transition: 0.3s ease-in-out;
  font-size: 30px;
}

.on-photo-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 579px;
  height: 557px;
  left: 6.1%;
}
.on-photo-text-dscrptn {
  color: white;
  max-width: 579px;
  max-height: 201px;
  font-family: Work Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67.2px;
  letter-spacing: 0.02em;
  text-align: left;
}
.on-photo-text-dscrptn:hover {
  color: rgb(252, 177, 31);
  font-size: 60px;
  transition-duration: 0.3s;
}
.red-on-top-pic {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.red-img {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}
.red-pic-text {
  position: absolute;
  width: 616px;
  height: 131px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 34px;
  border-radius: 32px;
  border: none;
  color: white;
  background-color: rgba(255, 117, 58, 1);
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  text-align: center;
  transform-origin: center;
  margin-top: 25px;
}
.button:hover {
  color: black;
  background-color: white;
  font-size: 16px;
  /* gassworee essss */
  transform: scale(1.2);
  transition: ease-in-out 0.3s;
}
.guitar-lessons {
  color: white;
  font-family: Work Sans;
  font-size: 46px;
  font-weight: 700;
  line-height: 55.2px;
  text-align: center;
}
.gtr-lsn-dscrptn {
  color: white;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 35.76px;
  text-align: center;
}

/* main */
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-headline {
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: rgba(80, 80, 80, 1);
  border-top: 3px solid rgba(171, 4, 51, 1);

  margin-top: 34px;
  transition: 0.3s ease-in-out;
}
.main-headline:hover {
  color: black;
  font-size: 45px;
  border-top: 3px solid rgb(23, 4, 171);
}
.secondary-title-store {
  color: rgba(37, 37, 37, 1);
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  margin-bottom: 34px;
  padding: none;
  opacity: 0.5;
}
.secondary-title-store:hover {
  opacity: 1;
  transition: 0.3s ease-in;
  font-size: 18px;
}

.guitars {
  width: 1285px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin: auto auto;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0 0;
  background-image: radial-gradient(
    circle,
    rgba(251, 251, 251, 1) 0%,
    rgba(211, 211, 211, 1) 100%
  );
  width: 400px;
  height: 252px;
  top: 26px;
  gap: 0px;
  border-radius: 10px 10px 0px 0px;
  opacity: 0px;
}
.guitar-card {
  filter: drop-shadow(0px 2px 4px rgba(28, 5, 77, 0.1))
    drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.05));
  width: 400px;
  height: 417px;
  gap: 0px;
  opacity: 0px;
  transition: 0.3s ease-out;
}
.guitar-card:hover {
  transform: scale(105%, 105%);
}

/* texts */
.product-description {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 400px;
  height: 139px;
  padding: 16px 24px 24px 24px;
  gap: 6px;
  border-radius: 0px 0px 10px 10px;
  opacity: 0px;
  transition: 0.2s ease;
}
.product-description:hover {
  background-color: rgba(37, 37, 37, 1);
  color: whitesmoke;
  transition: 0.3s ease;
}
.price-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
}

.headline {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  text-align: left;
}
.headline-dscrptn {
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: left;
  color: rgba(118, 118, 118, 1);
}
.price {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  text-align: right;
  width: 72px;
  height: 23px;
  gap: 0px;
  opacity: 0px;
}
.available {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 128px;
  height: 30px;
  margin-top: 15px;
}
.available-text {
  padding: 2px 6px 2px 6px;
  gap: 10px;
  border-radius: 20px;
  border: solid rgba(234, 234, 234, 1) 1px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: right;
  color: rgba(80, 80, 80, 1);
}
.num-span {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: rgba(80, 80, 80, 1);
}
.second-section {
  margin-top: 88px;
  width: Fixed 1440px;
  height: 665px;
  top: 1601px;
  padding: 88px 0px 0px 0px;
  gap: 16px;
  opacity: 0px;
  background-color: rgba(236, 236, 236, 1);
}
#Accesories_id::after {
  background-color: aqua;
}
.Accesories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.Accesories-card {
  width: 400px;
  height: 417px;
  gap: 0px;
  opacity: 0px;
  filter: drop-shadow(0px 2px 4px rgba(28, 5, 77, 0.1))
    drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.05));
  transition: 0.2s ease-in-out;
}

.Accesories-card:hover {
  transform: scale(105%, 105%);
}
.picture-accesories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 252px;
  border-radius: 10px 10px 0px 0px;
  opacity: 0px;
  background-color: white;
}
.section-three {
  height: 1539px;
  top: 2261px;
  padding: 88px 0px 0px 0px;
  gap: 48px;
  opacity: 0px;
}
/* section three */
.articles {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-block {
  width: 1285px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 32px;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article-texts {
  background-color: rgba(37, 37, 37, 1);
  width: 616px;
  height: 122px;
  padding: 32px 0px 0px 32px;
  column-gap: 4px;
  border-radius: 0px 0px 10px 10px;
}
.size {
  width: 400px;
  height: 122px;
}
.title {
  color: white;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 31.2px;
  text-align: left;
}
.middle {
  background-color: rgba(234, 234, 234, 1);
  color: rgba(37, 37, 37, 1);
}
.article-subhead {
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
  text-align: left;
  color: rgba(196, 196, 196, 1);
}
.color {
  color: rgba(118, 118, 118, 1);
}
/* section 4 Map and forms */
.section-four {
  background-color: rgba(236, 236, 236, 1);
  width: 100%;
  height: 665px;
}
.section-four-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 64px;
  margin-bottom: 88px;
}
/* map */
.map {
  width: 600px;
  height: 450px;
  border-radius: 10px;
  filter: drop-shadow(0px 2px 4px rgba(28, 5, 77, 0.1))
    drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.05));
  transition: 0.2s ease;
}
.map:hover {
  transform: scale(102%, 102%);
}
/* forms */
.forms {
  width: 600px;
  height: 450px;
  display: flex;
  align-items: center;
  border: black;
  border-radius: 10px;
  border: rgba(171, 4, 51, 1) solid 2px;
  filter: drop-shadow(0px 2px 4px rgba(28, 5, 77, 0.1))
    drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.05));
  transition: 0.2s ease-in;
  background-color: rgba(255, 255, 255, 0.495);
}
.forms:hover,
.forms:focus {
  transform: scale(102%, 102%);
  border: rgb(23, 4, 171) solid 2px;
  background-color: rgba(255, 255, 255, 0.649);
}
.responsive-form {
  width: 95%;
  /* max-width: 600px; */
  margin: 0 auto;
}

.responsive-form label {
  display: block;
  margin-bottom: 10px;
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 23.4px;
}

.responsive-form input[type="text"],
.responsive-form input[type="email"],
.responsive-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  color: rgb(0, 0, 4);
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  border-radius: 10px;
  border: solid rgba(234, 234, 234, 1) 1px;
  transition: 0.5s ease;
  outline: none;
}
.responsive-form textarea:focus,
.responsive-form input[type="text"]:focus,
.responsive-form input[type="email"]:focus {
  border: solid rgba(171, 4, 51, 1) 1.5px;
}
.responsive-form input[type="submit"] {
  padding: 10px 20px;
  background-color: rgba(171, 4, 51, 1);
  color: #fff;
  border-radius: 20px;
  border: none;
  /* fonts */
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18.2px;
}
.responsive-form input[type="submit"]:hover {
  transform: scale(105%, 105%);
  background-color: rgb(23, 4, 171);

  font-family: Work Sans;
  font-size: 15px;
  font-weight: 700;
  line-height: 18.2px;
}
.second-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 48px;
}
/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 6.91%;
  width: 100%;
  height: 290px;
  gap: 10px;
  opacity: 0px;
  background-color: rgba(37, 37, 37, 1);
}
.my-account {
  padding-right: 48px;
}

.footer-elements {
  width: 141px;

  color: white;
  padding-top: 9px;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.2px;
  text-align: left;
}
.footer-elements:nth-child(1) {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.2px;
  text-align: left;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 786px;
  padding-left: 0.1%;
}
.footer-logo {
  width: 255px;
  height: 40px;
  top: 115px;
  left: 1133px;
  gap: 0px;
  opacity: 0px;
}
.social {
  display: flex;
  justify-content: right;
  padding-top: 9.31%;
}
